# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df["date"]=pd.to_datetime(df["date"])

In [4]:
# Set the date column as the DataFrame index
# Drop the date column
df = df.set_index("date")

In [5]:
df.index.strftime("%m")

Index(['01', '01', '01', '01', '01', '01', '01', '01', '01', '01',
       ...
       '08', '08', '08', '08', '08', '08', '08', '08', '08', '08'],
      dtype='object', name='date', length=19550)

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
filter_df = df.loc[(df.index.strftime("%m")=="06")|(df.index.strftime("%m")=="12")]
filter_df.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [8]:
# Identify the average temperature for June
june_avg = filter_df.loc[(filter_df.index.strftime("%m")=="06")].reset_index().groupby(["station"]).mean()["tobs"]
june_avg

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [9]:
# Identify the average temperature for December
dec_avg = filter_df.loc[(filter_df.index.strftime("%m")=="12")].reset_index().groupby(["station"]).mean()["tobs"]
dec_avg

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [10]:
# Create collections of temperature data
# Run paired t-test
stats.ttest_ind(june_avg,dec_avg,equal_var=False)

Ttest_indResult(statistic=4.615865424404701, pvalue=0.0003657335214469917)

### Analysis

Since we collected temperatures averages from two independent months, we use an unpaired t-test. The resulting p-value is less tha 0.05 and therefore the temperature averages between the two months are statistically significant.